html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

#carousel {
    margin-top: 63px;
}

#main-footer {
    background: #262f36;
    color: white;
    padding: 6rem 0;
    font-size: 0.8rem;
}

#main-footer h6 {
    color: #718fa9;
}

#main-footer a {
    color: #6c6f73;
}

#what-we-do {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#about {
    background: url('../img/woman.jpg') center center no-repeat;
    background-size: auto;
    padding: 4rem 0;
}

.about-text {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1.875rem;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.jumbotron {
    margin-bottom: 0;
    background-color: #fff;
    background-image: url('../img/working.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    margin-top: 3.5rem;
    max-width: 40rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
}

.jumbotron p {
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
